body{
    width: 100%;
    text-align: center;
}

 .Image{
    height: 50px;
	background-attachment: fixed;
    vertical-align: middle;
    text-align: center;
    background-attachment: fixed;
}

table.nospacing { border-spacing: 0; }

table.nospacing th, td { padding: 0; }

table #myTable {
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
    border-collapse: collapse;
  }

  table.center {
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
  }

h1{
    text-align: center;
}

a{
    color: rgb(209, 15, 15);
}

.table-borders, td, th{
    padding: 10px;
    border: 1px solid black;
    border-collapse: separate;
    border-color: green;
}

td, th {
    border-left:solid black 2px;
    border-top:solid black 2px;
}

th{
    background-color: cyan;
    border-color: green;
    border-bottom: 2px dotted red;
    border-top: 2px dotted red;
}

tr th:first-child{
    border-left:2px dotted red;
}

tr th:last-child{
    border-right:2px dotted red;
}

td{
    border-color: green;
}

table{
    border-radius:6px;
    -moz-border-radius:6px;
}

p{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 80px;
    margin-left: 80px;
}

.font, .bold{
    font-weight: bold;
    font-size: large;
}

.display{
    display: none;
}

tr td {
    border-top: 2px dotted red;
    border-bottom: 2px dotted red;
  }
  
tr td:first-child {
    border-left:2px dotted red;
  }
  
tr td:last-child {
    border-right: 2px dotted red;
  }

  .test{
      background-color: lightgrey;
  }

  .ol-center {
    text-align: center;
    list-style-position: inside;
  }

  .ul-center {
    text-align: center;
    list-style-position: inside;
  }

  ul{
    margin-right:5%;
  }

  ol{
    margin-right:3%;
  }

  .url-mouse {
    border-radius: 20px;
  }

  .tdBackground{
      background-color: hotpink;
  }

  .hide-image{
      display: none;
  }

  .red-bg{
      background-color: red;
  }

  .dark-mode{
      background-color: black;
      color: white;
  }

  .dark-button{
      background-color: white;
      color: black;
  }

  .th-dark{
      background-color: blue;
      color: white;
  }

  /* .Image{
    /* display: table-cell; */
    /* height: 300px; */
    /* text-align: center; */
    /* width: 300px; */
    /* vertical-align: middle; */
    /* height: 50px; */
	/* background-attachment: fixed; */
  /* }  */

/* CSS EXERCISES

        11) 
        12) 
        13) 
        14) 
        15) 
        16) 
        17)
        18) 
        19) 
        20) 